.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.image {
  display: flex;
  height: 130px;
  margin: 5%;
  margin-top: 6%;
  margin-left: 0%;
  position: relative;
}
.window {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header {
  margin-right: 1%;
  font-weight: bold;
}
.panelTitle {
  width: 590px;
  /*margin: -9% 1% 1% 1%; */
  font-weight: bold;
  color: rgb(248 79 36);
  margin: 1%;
  
}
.panelText {
  color: rgb(0 0 0);
  margin: 3%;

}
.FBPA
{
    font-size: 10px;
}
.GFEB{
    font-size: 15px;
}
.question{
    margin: 1%;
   
    padding: 1%;
    display: flex;
    justify-content: flex-start;
   
}
.questionLabel{
    margin-left: 1%;
}

.baseTermTitle{
    color: rgb(176	215	166);
    font-weight: bold;
}
.baseTerm{
    width:105%;
    margin-top:5%;
}
.slotContain {
    display: flex;
    flex-direction: column;
    color: rgb(255 255 255);
    padding: 1%;
    width: 50%;
    position: absolute;
    margin-top: -23%;
    background-color: rgb(14 52 61);
  }

  .s2Wrap{
    flex-direction: column;
  }

  .s2ImgContain{
    height: auto;
  } 
  .s2Img{
      width:90%;
      margin-left:7%;
  }

  .s3Wrap{
      flex-direction: column;
  }

  .s3TextContain{
        display: flex;
  }

  .s3PanelText{
      margin-top:0%;
  }
  .s3Text{
      margin-top:-2%;
  }
  .s3Img{
      height: 100px !important;
  }

  .s4Wrap{
      margin-top:0%;
      flex-direction: column;
  }
  .s4Panel{
      margin-top: 0%;
  }
  .s4TextDiv{
      display:flex;
      align-items: center;
      justify-content: space-around;
      width:130%;
  
  }

  .s4Img{
      height: 150px;
  }

  .s7TermContain{
        margin-top: -3%;
  }

  .s8BaseTerm{
  }

  .s8SlotContain{
      width:160%;
  }
  .s8TermContain{
    margin-top: -4%;
    margin-left: -1%;
    width: 120%;
  }
  .FBPA9{
    font-size: 9px;
  }
  .s9BaseTerm{
      margin-left:60%;
  }
  .s9SlotContain{
    margin-top: -6%;
    width: 200%;
  }
  .s10TermContain{
        margin-top:8%;
  }

  .s13BaseTerm{
    margin-left: 15%;
  }
  .s13TermContain{
    margin-top: -8%;
    width:130%;
  }

  .s14BaseTerm{
    margin-left: 15%;
  }
  .s14TermContain{
    margin-top: 15%;
    width:130%;
  }
  .s15Wrap{
      flex-direction: column;
  }
  .s15ImgDiv{
    height: auto    ;
  }
  .s15Img{
      width:90%;
      margin-left: 7%;
      margin-top: -5%;

  }